.header {
    background: $brand;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: 'Federo',
    sans-serif;
    font-size: 1em;
    text-shadow: 2px 2px rgba(34, 21, 211, 0.5);
    h1 {
        margin: 0;
    }
}