.header {
    background: url('/img/sand6.jpg');
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: 'Poiret One',
    sans-serif;
    font-stretch: extra-expanded;
    font-size: 1.2em;
    text-shadow: 2px 2px rgb(85, 169, 202),
    2px 2px 2px #000;
    h1 {
        margin: 0;
    }
}