// This file contains custom SCSS variables the we can reuse and change gloabally in one location

// Colors
$dark-grey: rgb(59, 123, 243);
$grey: #666;
$brand: rgb(238, 150, 34);
$brand2: rgb(241, 191, 97);
$off-white: fade-out(rgb(178, 206, 217), .8);
$off-white2: fade-out(rgb(245, 153, 191), .8);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;