// This file contains custom SCSS variables the we can reuse and change gloabally in one location

// Colors
$dark-grey: rgb(43, 43, 43);
$grey: #666;
$brand: rgb(238, 150, 34);
$off-white: fade-out(rgb(114, 167, 236), .8);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;